#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	meson setup builddir --prefix=/usr --buildtype=release

override_dh_auto_build:
	ninja -C builddir

override_dh_auto_install:
	DESTDIR=$(CURDIR)/debian/novadock ninja -C builddir install

override_dh_auto_clean:
	rm -rf builddir
